<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <form action="/google/authenticate" method="post">
      <div>
          <label>Username:</label>
          <input type="text">
      </div>
      <div>
          <label>Password:</label>
          <input type="text">
      </div>
      <form-group>
          <button type="submit" value="login">Submit</button>
      </div>
    </form>
  </body>
</html>
